{% extends 'base-page.html' %}
{% load static %}

{% block title %}
    Поиск дата добавления
{% endblock title %}

{% block container %}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
          <div class="col-md-4 mx-auto rounded p-3 border border-dark rounded">
            <form method="GET" action="{% url 'searchdataADDED' %}">
                <label for="min_dateadded">Минимальная дата:</label>
                <input type="date" id="min_dateadded" name="min_dateadded" required>

                <br>

                <label class="mt-3" for="max_dateadded">Максимальная дата:</label>
                <input type="date" id="max_dateadded" name="max_dateadded" required>

                <br>

                <button class="mt-3" type="submit">Поиск</button>

                <a href="javascript:history.go(-1)">Вернуться</a>
            </form>
          </div>
        </div>
    </div>
</div>

{% endblock container %}