{% extends 'base-page.html' %}
{% load static %}

{% block title %}
    Поиск ID
{% endblock title %}

{% block container %}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
          <div class="col-md-4 mx-auto rounded p-3 border border-dark rounded">
            <form method="GET" action="{% url 'search_rolls' %}">
                <label for="min_id">Минимальный id:</label>
                <input type="number" id="min_id" name="min_id" required>

                <br>

                <label class="mt-3" for="max_id">Максимальный id:</label>
                <input type="number" id="max_id" name="max_id" required>

                <br>

                <button class="mt-3" type="submit">Поиск</button>

                <a href="javascript:history.go(-1)">Вернуться</a>
            </form>
          </div>
        </div>
    </div>
</div>

{% endblock container %}