{% extends 'base-page.html' %}
{% load static %}

{% block title %}
    Сумма
{% endblock title %}

{% block container %}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
          <div class="col-md-4 mx-auto rounded p-3 border border-dark rounded">
            <form method="GET" action="{% url 'statsSUM' %}">
                <label for="start_date">Минимальная дата:</label>
                <input type="date" id="start_date" name="start_date" required>

                <br>

                <label class="mt-3" for="end_date">Максимальная дата:</label>
                <input type="date" id="end_date" name="end_date" required>

                <br>

                <button class="mt-3" type="submit">Поиск</button>

                <a href="javascript:history.go(-1)">Вернуться</a>
            </form>
          </div>
        </div>
    </div>
</div>

{% endblock container %}