{% extends 'base-page.html' %}
{% load static %}

{% block title %}
    Среднее количество
{% endblock title %}

{% block container %}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
          <div class="my-3 p-3 bg-body rounded shadow-sm">
            <h2 class="text-center">Средняя длина: {{ average_len.length__avg }} м.</h2>
              <h2 class="text-center">Средний вес: {{ average_weig.weight__avg }} кг.</h2>
            <div class="text-center"><a href="javascript:history.go(-1)">Вернуться</a></div>
          </div>
        </div>
    </div>
</div>

{% endblock container %}